.page-header
  %h1
    Stations
    .pull-right= link_to 'Add New', new_station_path, class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th #
      %th Name
      %th Created at
      %th Updated at
      %th Actions

  %tbody
    - @stations.to_enum.with_index(1).each do |station, i|
      %tr
        %td= i
        %td= station.name
        %td= station.created_at.strftime('%c')
        %td= station.updated_at.strftime('%c')
        %td
          = link_to 'Show', station_path(station)
          = link_to 'Destroy', station_path(station), method: :delete, data: { confirm: 'Are you sure?' }
