.page-header
  %h1 Add new station

= form_with url: stations_path do |f|
  - @stations.each do |station|
    .radio
      %label
        = f.radio_button :station_public_id, station.id
        = station.name

  = f.submit 'Add', class: 'btn btn-primary'
