!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Smog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .panel.panel-default.col-md-10.col-md-offset-1.main-container
      .panel-body
        - if alert
          .alert.alert-danger= alert

        - if notice
          .alert.alert-success= notice

        = yield
